$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #d30102;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
@mixin rebase($rebase03,$rebase02,$rebase01,$rebase00,$rebase0,$rebase1,$rebase2,$rebase3) 
{
    background-color:$rebase03;
    color:$rebase0;
    * { color:$rebase0; }
    h1,h2,h3,h4,h5,h6 { color:$rebase1; border-color: $rebase0; }
    a, a:active, a:visited { color: $rebase1; }
}
@mixin accentize($accent1, $accent2) {
    a, a:active, a:visited, code.url { color: $accent1; }
    h1,h2,h3,h4,h5,h6 {color:$accent1;} 
    code {color:$accent2;}
    .quote h1 { color: $accent2; }
    
}
/* light is default mode, so pair with general html definition */
html, .light { @include rebase($base3,$base2,$base1,$base0,$base00,$base01,$base02,$base03)}
.dark  {
    @include rebase($base03,$base02,$base01,$base00,$base0,$base1,$base2,$base3)
}
.dark { @include accentize($cyan, $yellow); }
html * {
    @include accentize($red, $blue);
    color-profile: sRGB;
    rendering-intent: auto;
}
body {
    font-family: 'Lora', 'Georgia', serif;
    font-size: 14pt;
    }
h1, h2, h3 {
    font-weight: 800;
}
code {
    font-family: 'Ubuntu Mono', 'Monaco', monospace;
    }
.title  h1 { font-size: 400%; }
.quote { margin-bottom: 3em; }
header {
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 40px;
}
header > ul {
    list-style-type: none;
    padding-left: 0px;
}
.content {
    margin-left: 300px;
    padding-top: 40px;
    padding-left: 5%;
    margin-right: 10%;
    position: relative;
}
.h1 {
    font-size: 14pt;
}
.h2 {
    font-size: 12pt;
    padding-left: 10px;
    padding-top: 5px;
}
.h3 {
    font-size: 10pt;
    padding-left: 20px;
    padding-top: 5px;
}
#colorscheme {
    cursor: pointer;
    text-decoratioN: underline;
}
#toc .h1 {
    font-size: 18pt;
}
#toc .h2 {
    font-size: 16pt;
}
#toc .h3 {
    font-size: 14pt;
}
#toc > ul {
    list-style-type: none;
    padding-left: 0px;
}
