/* light is default mode, so pair with general html definition */
html, .light {
  background-color: #fdf6e3;
  color: #657b83; }
  html *, .light * {
    color: #657b83; }
  html h1, html h2, html h3, html h4, html h5, html h6, .light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
    color: #586e75;
    border-color: #657b83; }
  html a, html a:active, html a:visited, .light a, .light a:active, .light a:visited {
    color: #586e75; }

.dark {
  background-color: #002b36;
  color: #839496; }
  .dark * {
    color: #839496; }
  .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
    color: #93a1a1;
    border-color: #839496; }
  .dark a, .dark a:active, .dark a:visited {
    color: #93a1a1; }

.dark a, .dark a:active, .dark a:visited, .dark code.url {
  color: #2aa198; }
.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: #2aa198; }
.dark code {
  color: #b58900; }
.dark .quote h1 {
  color: #b58900; }

html * {
  color-profile: sRGB;
  rendering-intent: auto; }
  html * a, html * a:active, html * a:visited, html * code.url {
    color: #d30102; }
  html * h1, html * h2, html * h3, html * h4, html * h5, html * h6 {
    color: #d30102; }
  html * code {
    color: #268bd2; }
  html * .quote h1 {
    color: #268bd2; }

body {
  font-family: "Lora", "Georgia", serif;
  font-size: 14pt; }

h1, h2, h3 {
  font-weight: 800; }

code {
  font-family: "Ubuntu Mono", "Monaco", monospace; }

pre {
  margin-left: 2em; }

.title h1 {
  font-size: 400%; }

.quote {
  margin-bottom: 3em; }

header {
  line-height: 1em;
  width: 260px;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 40px; }

header > ul {
  list-style-type: none;
  padding-left: 0px; }

.content {
  margin-left: 260px;
  padding-top: 40px;
  padding-left: 10%;
  margin-right: 20%;
  position: relative; }

.chaptertext {
  line-height: 1.5em; }

.h1 {
  font-size: 14pt; }

.h2 {
  font-size: 12pt;
  padding-left: 10px;
  padding-top: 5px; }

.h3 {
  font-size: 10pt;
  padding-left: 20px;
  padding-top: 5px; }

#colorscheme {
  cursor: pointer;
  text-decoration: underline; }

#toc .h1 {
  font-size: 18pt; }

#toc .h2 {
  font-size: 16pt; }

#toc .h3 {
  font-size: 14pt; }

#toc > ul {
  list-style-type: none;
  padding-left: 0px; }
